.card {
  border: 0;
  border-radius: 0;
}
.basic {
  height: 100%;
  width: 100%;
}
.img-sec {
  position: relative;
}
.img-sec:hover .play-btn {
  display: block;
}
.basic img {
  border-radius: 0.5rem;
}
.card-tag {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background: var(--light-black);
  color: var(--light-text);
  border-radius: 2px;
  padding: 0.5rem;
  font-weight: 600;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-color);
  color: var(--light-text);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: none;
}
.count-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}
.video_card-btn {
  padding: 1rem 2rem;
  background: var(--secondary-color);
  color: var(--light-text);
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}
.liked {
  color: var(--input-err);
}
/* single video card */
.single_video-card {
  padding: 4rem;
  box-shadow: none;
}
.single_page-video {
  width: 80%;
  aspect-ratio: 16/9;
}
.video-actions {
  display: flex;
  justify-content:center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.clear-btn {
  margin-left: auto;
}