.categories-chip {
  display: flex;
  flex-wrap: wrap;
}

/* videos listing  */
.videos-listing-sec {
  margin-inline: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  grid-template-rows: 35rem;
}
